src/main/mule/jenkintestingpart2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e1d2cb94-7a58-4cd5-83f3-527cfba7d946" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	
	
	<flow name="jenkintestingpart2Flow" doc:id="9f092adf-7008-4622-8003-927e0c632b6b" >
		<http:listener doc:name="Listener" doc:id="24663c85-b3ef-49f2-b397-18463cac7e9f" config-ref="HTTP_Listener_config" path="/delta"/>
		<http:request method="POST" doc:name="Request" doc:id="6678783f-b1a3-4e83-8ab9-b1c703cb4786" url="http://0.0.0.0:8081/jenkin"/>
		<logger level="INFO" doc:name="Logger" doc:id="6a24fb6a-c836-4592-a248-3679f1c2b197" message="#[payload]"/>
	</flow>
</mule>
